@import "bootstrap";
@import "font-awesome";

#popup-alert  {
	position: fixed;
	top: 2%;
	right: -100%;
	min-width: 310px;
	opacity: 0;
	z-index: 9999;
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 25%;
	border: solid 2px rgba(128, 128, 128, 0.4);
	transition: all 1s ease-in-out;
}

#popup-alert.show {
	right: 3% !important;
	opacity: 1 !important;
}
#popup-alert h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
#popup-alert .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
#popup-alert .close:hover {
  color: #06D85F;
}
#popup-alert .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  #popup-alert{
    width: 70%;
  }
}

.dropbtn {
    background-color: #898989;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #363636;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
